.hero.has-background-image {
    background-image: url("../assets/heroImage.png");
    background-position: center center;
    background-size: cover;
  }
.navbar-item {
    color: white;
}
.title {
    color: white;
}
.subtitle {
    color:darkgray;
}
.navTab {
    color:white !important; 
    /* To Do fix */
}